[submodule "extern/openpgp-api-lib"]
	path = extern/openpgp-api-lib
	url = https://github.com/open-keychain/openpgp-api-lib.git
[submodule "extern/o!!!!penkeychain-api-lib"]
	path = extern/openkeychain-api-lib
	url = https://github.com/open-keychain/openkeychain-api-lib.git
